@import "@allianz/ndbx-styles/dist/patternlab.min.css";

.error-message {
  color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
  width: 100%;
}

.col-12 {
  flex: 0 1 100%;
}

.col-6 {
  flex: 0 1 50%;
}

.content-center {
  justify-content: center;
}

.space-vertical-s {
  margin-top: 12px;
  margin-bottom: 12px;
}