<form [formGroup]="mainJoinerForm" (ngSubmit)="onSubmit()">
    <div class="l-grid">
      <div class="l-grid__row">
        <div class="l-grid__column-12">
            <nx-formfield nxLabel="Full Name">
              <input nxInput type="text" id="name"  pattern="[a-zA-Z ]*" required  formControlName="name"/>
              <nx-message nxContext="error" nxFormfieldError>
                  name is require and must not contain special character or number
              </nx-message>  
            </nx-formfield>
        </div>
        <div class="l-grid__column-6">
            <nx-formfield nxLabel="Email">
                <input nxInput type="email" id="email" required formControlName="email"/>
                <nx-message nxContext="error" nxFormfieldError>
                    email is require and must be in correct format
                </nx-message>  
            </nx-formfield>
        </div>
        <div class="l-grid__column-6">
            <nx-formfield nxLabel="Date of damage">
              <input nxInput nxDatefield type="date" id="dateOfBirth"  formControlName="dateOfBirth" required>
              <nx-message nxContext="error" nxFormfieldError>
                  age must be over 18
              </nx-message>
            </nx-formfield>
        </div>
      </div>
      <div class="l-grid__row">
          <div class="row content-center">
              <button type="submit" nxButton="primary" [disabled]="!mainJoinerForm.valid">Save & Next</button>
          </div>
      </div>
    </div>
</form>
